@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="container-fluid p-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h1 class="site-name-text">JobSeek</h1>
        <div class="d-flex flex-row gap-4">
            <a class="fw-bold text-decoration-none fs-4 header-link-text" href="/about">About</a>
            <a class="fw-bold text-decoration-none fs-4 header-link-text" href="/seekers">Seekers</a>
            <a class="fw-bold text-decoration-none fs-4 header-link-text" href="/companies">Companies</a>
            <a class="fw-bold text-decoration-none fs-4 header-link-text" href="/cotact">Contact</a>
        </div>
        <div class="d-flex flex-row align-items-center gap-4">
            <a class="text-decoration-none fs-5 fw-bolder login-text" href="/login">Log in</a>
            <a class="signup-button" href="/signup">Sign Up</a>
        </div>
    </div>
<hr />
</div>
