# Build folders
bin/
obj/
packages/
# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# ASP.NET secrets
appsettings.Development.json

secrets.json

# Publish output
publish/
