.auth-form {
    border: 2px solid var(--jobseek-background);
    border-radius: 20px;
}

.auth-input {
    border-radius: 10px;
    padding: 0.5rem;
    outline: none;
    transition: padding 0.2s ease;
}

.auth-input:focus {
    border-color: var(--jobseek-secondary);
    box-shadow: 0 0 0 0.1rem var(--jobseek-secondary);
    padding: 0.75rem;
}

.auth-button {
    background-color: var(--jobseek-baclground);
    color: var(--jobseek-shadow);
    border: solid 3px var(--jobseek-background-highlight);
    border-radius: 10px;
    transition: background-color ease 0.2s;
}

.auth-button:hover {
    background-color: var(--jobseek-background-highlight);
    color: var(--jobseek-shadow);
    border: solid 3px var(--jobseek-background-highlight);
    border-radius: 10px;
}
