:root {
    --jobseek-primary: #6CA651;
    --jobseek-secondary: #BBCB2E;
    --jobseek-shadow: #839705;
    --jobseek-dark: #6B7445;
    --jobseek-background: #DADDD9;
    --jobseek-background-highlight: #CED2CC;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--jobseek-background);
}

main {
    flex: 1;
}

.body-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.jobseek-main-text {
    color: var(--jobseek-primary)
}

.jobseek-secondary-text {
    color: var(--jobseek-secondary)
}

.jobseek-shadow-text {
    color: var(--jobseek-shadow)
}

.jobseek-dark-text {
    color: var(--jobseek-dark)
}

.jobseek-background {
    background-color: var(--jobseek-background);
}

.jobseek-background-highlight {
    background-color: var(--jobseek-background-highlight);
}