@using JobSeek.Web.Models.DTO
@model List<ListingDTO>

<div class="container-fluid">
    <h1>Company Name</h1>
    <br />
    <h2>Insights</h2>
    <div class="row d-flex text-center">
        <div class="col-md-4">
            <h3>Applicant Stats</h3>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex flex-column h-100 justify-content-between border border-2 p-2 rounded-2">
                        <p class="fw-bold">Total applicants<br />(all time)</p>
                        <p class="fw-bold fs-4">1756</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-column h-100 justify-content-between border border-2 p-2 rounded-2">
                        <p class="fw-bold">New applicants this week</p>
                        <p class="fw-bold fs-4">500</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-column h-100 justify-content-between border border-2 p-2 rounded-2">
                        <p class="fw-bold">Applicants by stage</p>
                        <p class="fw-bold fs-4">48</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Listing Stats</h3>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex flex-column h-100 justify-content-between border border-2 p-2 rounded-2">
                        <p class="fw-bold">Total Job Posts</p>
                        <p class="fw-bold fs-4">13</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-column h-100 justify-content-between border border-2 p-2 rounded-2">
                        <p class="fw-bold">Active Listings</p>
                        <p class="fw-bold fs-4">10</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-column h-100 justify-content-between border border-2 p-2 rounded-2">
                        <p class="fw-bold">Expired Listings</p>
                        <p class="fw-bold fs-4">3</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Engagement</h3>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex flex-column h-100 justify-content-between border border-2 p-2 rounded-2">
                        <p class="fw-bold">Total views across all listings</p>
                        <p class="fw-bold fs-4">1500</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex flex-column h-100 justify-content-between border border-2 p-2 rounded-2">
                        <p class="fw-bold">Overall application-to-view conversion rate</p>
                        <p class="fw-bold fs-4">45%<p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <br />
    <div class="container mt-5">
        <div class="d-flex justify-content-between">
            <h2>Job Listings</h2>
            <a href="/companies/listings/post" class="jobseek-primary-button px-2">Post a Listing</a>
        </div>
            <div class="w-100 gap-5 mt-5 mx-auto">
                @foreach (var listing in Model)
                {
                    <partial name="components/listings/_listing" model=@listing />
                }
            </div>
    </div>
    
</div>
