@using JobSeek.Web.Models
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
@section Styles {
    <link rel="stylesheet" href="~/css/auth.css" />
}

<main>
    <div class="container">
        <div class="text-center w-50 mx-auto mt-5">
        <h1 class="jobseek-dark-text">Login to your Account</h1>
        <form asp-action="Login" method="post" class="d-flex flex-column gap-3 mt-5 w-">
            <div class="d-flex align-items-center gap-4">
                <input placeholder="Email" asp-for="Email" class="form-control jobseek-primary-input" />
            </div>
            <div class="d-flex align-items-center gap-4">
                <input placeholder="Password" type="password" asp-for="Password" class="form-control jobseek-primary-input" />
            </div>
            <div>
                    <button class="jobseek-primary-button w-100">Login</button>
            </div>
        </form>
        <br />
            
        <h5>OR</h5>
        <div class="my-4">
            <button class="btn btn-primary w-50 py-3">Sign in with google button</button>
        </div>
        <br />
        <hr />
        <p class="fs-5">Dont have an account? <a class="jobseek-dark-text" href="/login">Sign Up</a></p>
    </div>
</div>
    </div>
</main>