@using JobSeek.Web.Models
@model RegisterViewModel
@section Styles {
    <link rel="stylesheet" href="~/css/auth.css"/>
}

<main>
    <div class="container">
        <div class="text-center w-50 mx-auto mt-5">
            <h1 class="jobseek-dark-text">Ready to Start Your Career?</h1>
            <h1 class="jobseek-dark-text">Sign Up Below!</h1>
                <div id="email-form-container" class="mt-5">
                    <form id="email-form" class="d-flex gap-3 flex-column">
                        <div>
                            <input id="email" asp-for="UserAccountFormModel.Email" placeholder="Email" class="form-control jobseek-primary-input" />
                            <span class="text-danger" asp-validation-for="UserAccountFormModel.Email"></span>
                        </div>
                        <div>
                        <button type="submit" id="get-started" class="jobseek-secondary-button w-75">Get Started</button>
                        </div>
                    </form>
                </div>

            <form id="register-form" asp-action="Signup" method="post" class="d-flex flex-column gap-4 mt-5" style="display:none !important">

                <div class="d-flex justify-content-center gap-3">
                    <div class="w-100">
                        <input asp-for="UserAccountFormModel.FirstName" class="jobseek-primary-input form-control" placeholder="First Name" />
                        <span asp-validation-for="UserAccountFormModel.FirstName" class="text-danger"></span>
                    </div>

                    <div class="w-100">
                        <input asp-for="UserAccountFormModel.LastName" class="jobseek-primary-input form-control" placeholder="Last Name" />
                        <span asp-validation-for="UserAccountFormModel.LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-center gap-3">
                    <div class="w-100">
                        <input id="signup-email-form" asp-for="UserAccountFormModel.Email" class="jobseek-primary-input form-control" placeholder="Email" />
                        <span asp-validation-for="UserAccountFormModel.Email" class="text-danger"></span>
                    </div>

                    <div class="w-100">
                        <input asp-for="UserAccountFormModel.Password" class="jobseek-primary-input form-control" type="password" placeholder="Password" />
                        <span asp-validation-for="UserAccountFormModel.Password" class="text-danger"></span>
                    </div>
                </div>

                <div>
                    <input asp-for="UserAccountFormModel.DateOfBirth" class="jobseek-primary-input form-date form-control" type="date" />
                    <span asp-validation-for="UserAccountFormModel.DateOfBirth" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-center gap-3">
                    <div class="w-100">
                        <select id="country" asp-for="UserAccountFormModel.CountryID" class="jobseek-primary-input form-select">
                            <option value="0" selected>Country</option>
                            @{
                                foreach (var country in Model.Countries)
                                {
                                    <option value=@country.CountryID>@country.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="UserAccountFormModel.CountryID" class="text-danger"></span>
                    </div>
                    @if (!String.IsNullOrEmpty(Model.UserAccountFormModel.StateName))
                    {
                    }
                    <div id="state-container" class="w-100">
                        <input id="state" asp-for="UserAccountFormModel.StateName" type="text" class="jobseek-primary-input form-control" placeholder="State / Province" />
                        <span id="state-validation" asp-validation-for="UserAccountFormModel.StateName" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-center gap-3">
                    <div class="w-100">
                        <input asp-for="UserAccountFormModel.City" class="jobseek-primary-input form-control" placeholder="City" />
                        <span asp-validation-for="UserAccountFormModel.City" class="text-danger"></span>
                    </div>

                    <div class="w-100">
                        <input asp-for="UserAccountFormModel.ZipCode" class="jobseek-primary-input form-control" placeholder="Postal/Zip Code" />
                        <span asp-validation-for="UserAccountFormModel.ZipCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="jobseek-primary-button w-100">Create Account</button>
                </div>
            </form>
        </div>

      @*       <br />
            
            <h5>OR</h5>
            <div class="my-4">
                <button class="btn btn-primary w-50 py-3">Sign in with google button</button>
            </div>
            <br />
            <hr />
            <p class="fs-5">Already have an account? <a class="jobseek-dark-text" href="/login">Login</a></p>
        </div> *@
    </div>
</main>

@section Scripts {
    <script src="~/js/signup.js"></script>
}