@using JobSeek.Web.Models
@model UserAccountFormModel
@section Styles {
    <link rel="stylesheet" href="~/css/auth.css"/>
}

<main>
    <div class="container">
        <div class="text-center w-50 mx-auto mt-5">
            <h1 class="jobseek-dark-text">Ready to Start Your Career?</h1>
            <h1 class="jobseek-dark-text">Sign Up Below!</h1>
                <div id="email-form-container" class="mt-5">
                    <form id="email-form" class="d-flex gap-3 flex-column">
                        <div>
                            <input id="email" asp-for="Email" placeholder="Email" class="form-control jobseek-primary-input" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div>
                        <button type="submit" id="get-started" class="jobseek-secondary-button w-75">Get Started</button>
                        </div>
                    </form>
                </div>

            <form id="register-form" asp-action="Signup" method="post" class="d-flex flex-column gap-4 mt-5" style="display:none !important">

                <div class="d-flex justify-content-center gap-3">
                    <div class="w-100">
                        <input asp-for="FirstName" class="jobseek-primary-input form-control" placeholder="First Name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="w-100">
                        <input asp-for="LastName" class="jobseek-primary-input form-control" placeholder="Last Name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-center gap-3">
                    <div class="w-100">
                        <input id="signup-email-form" asp-for="Email" class="jobseek-primary-input form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="w-100">
                        <input asp-for="Password" class="jobseek-primary-input form-control" type="password" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div>
                    <input asp-for="DateOfBirth" class="jobseek-primary-input form-date form-control" type="date" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-center gap-3">
                    <div class="w-100">
                        <select id="country"
                                asp-for="CountryID"
                                class="jobseek-primary-input form-select"
                                data-state-text-name="StateName"
                                data-state-select-name="StateID">
                            <option value="0">Country</option>
                            @{
                                foreach (var country in ViewBag.Countries)
                                {
                                    <option value=@country.CountryID>@country.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="CountryID" class="text-danger"></span>
                    </div>
                    <div id="state-container" class="w-100">
                        <input id="state" asp-for="StateName" type="text" class="jobseek-primary-input form-control" placeholder="State / Province" />
                        <span id="state-validation" asp-validation-for="StateName" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-center gap-3">
                    <div class="w-100">
                        <input asp-for="City" class="jobseek-primary-input form-control" placeholder="City" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                    <div class="w-100">
                        <input asp-for="ZipCode" class="jobseek-primary-input form-control" placeholder="Postal/Zip Code" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="jobseek-primary-button w-100">Create Account</button>
                </div>
            </form>
        </div>
        <br />
        <p class="fs-5">Already have an account? <a class="jobseek-dark-text" href="/login">Login</a></p>


      @*       <br />
            
            <h5>OR</h5>
            <div class="my-4">
                <button class="btn btn-primary w-50 py-3">Sign in with google button</button>
            </div>
            <br />
            <hr />
            <p class="fs-5">Already have an account? <a class="jobseek-dark-text" href="/login">Login</a></p>
        </div> *@
    </div>
</main>

@section Scripts {
    <script src="~/js/state.js"></script>
}